---
import Layout from '../layouts/Layout.astro'
import { actions } from 'astro:actions'

const { data, error } = await actions.getPokemonsList({})
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mb-5 text-4xl text-gray-400">
			Pokemon <span class="text-green-300">Astro test</span>
		</h1>
		<div class="flex flex-col gap-y-2">
			{
				data?.map((item) => {
					return (
						<a href={`/pokemon/${item.name}`} class="rounded-2xl border-2 p-2 text-white">
							<p class="capitalize">{item.name}</p>
							<img src={item.sprites.front_default} />
						</a>
					)
				})
			}
		</div>
	</main>
</Layout>
