---
import Layout from '../layouts/Layout.astro'
import { actions } from 'astro:actions'

const { data, error } = await actions.getPokemonsList()
---

<Layout title="Welcome to Astro.">
	<main class="p-5">
		<h1 class="mb-5 text-4xl text-gray-400">
			Pokemon <span class="text-green-300">Astro test</span>
		</h1>
		<div class="flex flex-col gap-y-2">
			{
				data?.results.map((item) => {
					return (
						<div class="rounded-2xl border-2 p-2 text-white">
							<p>{item.name}</p>
							<a href={item.url} target="_blank">
								{item.url}
							</a>
						</div>
					)
				})
			}
		</div>
	</main>
</Layout>
