---
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

// const te = await actions.pokemon.getPokemons();

// const { data, error } = await Astro.callAction(actions.pokemon.getPokemons, {});

const { data } = await actions.getPokemons();
console.log(data);
const te = await actions.getGreeting();
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
  </main>
</Layout>
