---
export const prerender = true

export async function getStaticPaths() {
	const test = await fetch('https://pokeapi.co/api/v2/pokemon?limit=30')
	const x = await test.json()

	return [
		{ params: { dog: 'clifford' } },
		{ params: { dog: 'rover' } },
		{ params: { dog: 'spot' } }
	]
}

const { dog } = Astro.params
---

<div>Good dog, {dog}!</div>
